In [29]:
# Dependencies and Setup
import pandas as pd

import warnings
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine

# File to Load (Remember to Change These)
file_to_load = "./Resources/charts.csv"

# Read Purchasing File and store into Pandas data frame
billboard_df = pd.read_csv(file_to_load)

In [30]:
#billboard_df.dtypes
billboard_df

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1

In [31]:
billboard_new_df = billboard_df.copy()

#split the date by the - by year, month, day 
billboard_new_df[['year', 'month', 'day']] = billboard_df['date'].str.split('-', expand=True)


#delete unessary columns 'date' and reorg the column order and reset index 
del billboard_new_df['date']

del billboard_new_df['last-week']

billboard_new_df.reset_index
billboard_new_df

,rank,song,artist,peak-rank,weeks-on-board,year,month,day
0,1,Easy On Me,Adele,1,3,2021,11,06
1,2,Stay,The Kid LAROI & Justin Bieber,1,16,2021,11,06
2,3,Industry Baby,Lil Nas X & Jack Harlow,1,14,2021,11,06
3,4,Fancy Like,Walker Hayes,3,19,2021,11,06
4,5,Bad Habits,Ed Sheeran,2,18,2021,11,06
...,...,...,...,...,...,...,...,...
330082,96,Over And Over,Thurston Harris,96,1,1958,08,04
330083,97,I Believe In You,Robert & Johnny,97,1,1958,08,04
330084,98,Little Serenade,The Ames Brothers,98,1,1958,08,04
330085,99,I'll Get By (As Long As I Have You),Billy Williams,99,1,1958,08,04
330086,100,Judy,Frankie Vaughan,100,1,1958,08,04

In [33]:
#rename the columns so they are upper case
#billboard_new_df = billboard_new_df.rename(columns={'rank': 'Rank', 'song': 'Song', 'artist': 'Artist', 'peak-rank': 'Peak-Rank', 'weeks-on-board': 'Weeks-On-Board'})

# #reorder columns
# billboard_new_df_update = billboard_new_df[['rank', 'song', 'artist','peak-rank', 'weeks-on-board','month', 'day', 'year']]
# # billboard_new_df = billboard_df.reset_index()
# billboard_new_df_update

#fill in NaN on entire database 
billboard_new_df.fillna(0)


#turn month, day, year into an integer from an object 
billboard_new_df[['month', 'day', 'year']] = billboard_new_df[['month', 'day', 'year']].astype('int')
billboard_new_df.dtypes

rank               int64
song              object
artist            object
peak-rank          int64
weeks-on-board     int64
year               int64
month              int64
day                int64
dtype: object

In [36]:

#filter for since the year 2020 
billboard_filtered_df = billboard_new_df.loc[(billboard_new_df['year']>=2020) & (billboard_new_df['rank'] <= 10)]



billboard_new_df.reset_index
billboard_df = billboard_filtered_df[['rank', 'song', 'artist']]

billboard_df

,rank,song,artist
0,1,Easy On Me,Adele
1,2,Stay,The Kid LAROI & Justin Bieber
2,3,Industry Baby,Lil Nas X & Jack Harlow
3,4,Fancy Like,Walker Hayes
4,5,Bad Habits,Ed Sheeran
...,...,...,...
9605,6,Roxanne,Arizona Zervas
9606,7,It's The Most Wonderful Time Of The Year,Andy Williams
9607,8,Someone You Loved,Lewis Capaldi
9608,9,Memories,Maroon 5
9609,10,Good As Hell,Lizzo

In [37]:
billboard_df

engine = create_engine("sqlite:///Country.sqlite")
billboard_df.to_sql(name="country_USA", con=engine, if_exists="append", index=False)
pd.read_sql_query("select * from country_USA", con=engine).head()

     id  rank           song                         artist
0  None     1     Easy On Me                          Adele
1  None     2           Stay  The Kid LAROI & Justin Bieber
2  None     3  Industry Baby        Lil Nas X & Jack Harlow
3  None     4     Fancy Like                   Walker Hayes
4  None     5     Bad Habits                     Ed Sheeran